<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Permissions-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:logo="@drawable/logo_without_bg"
        android:icon="@drawable/logo_without_bg"
        android:roundIcon="@drawable/logo_without_bg"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">

        <!-- File Provider   -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".AnalysisResult"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".RecognitionResult"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".Recommendations"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".Tracking"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".SignUpwithOAuth"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/CustomAppTheme">
            <!--  Set exported to true for the main entry point  -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter for handling OAuth redirects -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Replace com.kkt.dietadvisor with your app's actual package name -->
                <data
                    android:scheme="${appAuthRedirectScheme}"
                    android:host="oauth2redirect" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>